<%-include("partials/header")-%>
<h1>Hello</h1>
<p><%=home_content%></p>
<%for(const post of posts){%>
    <h1><%=post.title%></h1>
    <p><%=post.body.substring(0,100)+"..."%> <a href="/posts/:<%=post.title%>">Read More</a></p>

<%}%>
<%-include("partials/footer")-%>